// Variables
$amarillo:#FFE91F;
$azul:#0c98ea;
$textoP: 1.25rem;
$textoG: 1.875rem;
$letra: 'Atma', cursive;


@import 'generales';
@import 'header';
@import 'indexMain';
@import 'footer';
@import 'nosotros';
@import 'productos';
@import 'descripProducto';
@import 'blog';
@import 'contacto';
@import 'responsive';